---
import { defineScriptVars } from "astro/compiler-runtime"
import ExperiencieItem from '../components/ExperienceItem.astro'
import { ActionError } from "astro:actions"

    const EXPERIENCE = [
        {
            date: 'Febrary 2025 to Present',
            title: 'Developer Sr at Gosmo',
            description: 'about of the job',
            link: '',
            lastest: false,
            actual: true
        },
        {
            date: 'March 2019 to August 2024',
            title: '... at ASAE Consultor',
            description: 'Responsable del desarrollo, plataforma, componentes, utilidades y seguimiento a clientes para la implementacion de soluciones corporativas; implementación de medidas de seguridad y mejores practicas (código limpio) en el desarrollo de software.',
            link: '',
            lastest: false,
            actual: false
        },
        {
            date: 'March 2005 to March 2019',
            title: '... at Mext',
            description: 'Responsable del desarrollo, plataforma, componentes, utilidades y seguimiento a clientes para la implementacion de soluciones. Trato directo con usuario final para la realización de entregables y capacitaciones al personal.',
            link: '#',
            lastest: false,
            actual: false
        }
    ]
---


<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">                  
    {
        EXPERIENCE.map( experiencie => (
            <li class="mb-10 ms-6">
                <ExperiencieItem {...experiencie}></ExperiencieItem>
            </li>            
        ))
    }
</ol>