<footer class="rounded-lg shadow-sm m-4">
  <div class="w-full xl:w-[1120px] mx-auto">
    <div class="sm:flex sm:items-center sm:justify-between">
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >MarinezDev</span
        >
      <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
    </nav>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© {new Date().getFullYear()}.</span
    >
  </div>
</footer>