<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="`
    bg-white/5
    border border-white/5 rounded-full
    flex justify-center items-center gap-x2
    py-1 px-2  md:py-2 md:px-4
    text-xs lg:text-base
    transition
    hover:scale-110 hover:bg-white/10 
  `"
>
  <slot />
</a>